@tailwind base;
@tailwind components;
@tailwind utilities;

/* Preline UI base styles */
@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
